<!--HTML STUFF-->
<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>GETTING STARTED WITH BRACKETS</title>
        <meta name="description" content="An interactive getting started guide for Brackets.">
        <link rel="stylesheet" href="../static/stylesheets/styles.css">
    </head>
    <body>

      <div class='headerSection'>
        <div class='header'>
          <img src="../static/MCATlogo-01.png" id='logo'>
          <div id='subjects'>
              <ul>
                  <li>Biology || </li>
                  <li>Physics || </li>
                  <li>Chemistry || </li>
                  <li>Behavioral Science</li>
              </ul>
          </div>
        </div>
        <div class="h_line">
        </div>
      </div>


        <div id='bodybox'>
          <div id='chatborder' style="overflow-y: scroll; height: 425px">
            <p id="chatlog7" class="chatlog left">&nbsp;</p>
            <p id="chatlog6" class="chatlog right">&nbsp;</p>
            <p id="chatlog5" class="chatlog left">&nbsp;</p>
            <p id="chatlog4" class="chatlog right">&nbsp;</p>
            <p id="chatlog3" class="chatlog left">&nbsp;</p>
            <p id="chatlog2" class="chatlog right">&nbsp;</p>
            <p id="chatlog1" class="chatlog left">&nbsp;</p>

          </div>
        </div>

         <input type="text" name="chat" id="chatbox" placeholder="Hi there! Type here to talk to me." onfocus="placeHolder()">


          <br>
          <br>


    </body>
</html>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="../static/controllers/interaction.js"></script>
<!--This will send data using AJAX to Python:<br /><br />-->
<a href="" id="theButton">Click Me</a>
